body{
    background-image: url("subway.jpeg");
    background-size: cover;

    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    background-color: white;
    max-width: 50%;
    margin: auto;
    box-shadow: 10px 10px 8px #102e2c;
}
h1 {
   text-align: center;
    color: black;
    margin-top: 200px;
    font-size: 50px;
}
#counter {
    margin-top: 0;
}
#buttons{
    display: flex;
    flex-direction: column;
     align-items: center;
}

#increment-btn{
    background-color: rgb(138, 9, 145);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    box-shadow: 10px 10px 8px gray;

   
   
}

#save-btn{
background-color:  rgb(138, 9, 145);
color: white;
width: 150px;
height: 30px;
border: none;
border-radius: 10px;
font-size: 20px;
margin-top: 15px;
box-shadow: 10px 10px 8px gray;
}

#increment-btn:hover {
    background-color: black;
    color: aliceblue;
}

#save-btn:hover {
    background-color: black;
    color: aliceblue;
}
#save-el{
    text-align: center;
    color: black;
    margin-bottom: 50px;
}
